<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bar">
    <img src="assets/images/atras.png" (click)="regresar()" alt="" style="width: 30px; margin-left: 3%;">
    <ion-title>Perfil</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="background-box"></div>

  <div class="content-box">
    <h1>Your profile</h1>
    <div class="custom-file">
      <input type="file" id="photo" name="photo" accept="image/*" (change)="displayImage($event)">
      <label for="photo" class="file-label">
        <span class="file-text">Cambiar foto de perfil</span>
      </label>
    </div>
    <div class="profile-section">
      <div class="image-preview" *ngIf="imageSource">
        <img [src]="imageSource" alt="Vista previa de la imagen">
      </div>
    </div>
    
    <div class="form-wrapper">
      <form [formGroup]="myForm">
        <ion-item>
          <ion-input
            type="text"
            id="name"
            fill="solid"
            label="Nombre"
            labelPlacement="floating"
            formControlName="name"
            value="{{userData.name}}"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="lastname"
            id="lastname"
            fill="solid"
            label="Apellido(s)"
            labelPlacement="floating"
            formControlName="lastname"
            value="{{userData.lastname}}"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="email"
            id="email"
            fill="solid"
            label="Correo"
            labelPlacement="floating"
            formControlName="email"
            [readonly]="false"
            value="{{userData.email}}"
          ></ion-input>
        </ion-item>

        

        <ion-item>
          <ion-input
            type="phone"
            id="phone"
            fill="solid"
            label="Numero"
            labelPlacement="floating"
            formControlName="phone"
            value="{{userData.phone}}"
          ></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="submitForm()" [disabled]="!isFormValid()">UPDATE</ion-button>

      </form>
    </div>
  </div>
</ion-content>
<div class="regresar">
</div> -->

<ion-toolbar>
  <ion-buttons (click)="goBack()" slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="chevron-back" style="font-size: 38px;"></ion-icon>
    </ion-button>
  </ion-buttons>

<div class="titulo">
   <h2>Mi Perfil</h2>
  </div>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="settings" style="font-size: 38px;"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto" class="profile-container">
        <div class="avatar-wrapper">
          <ion-avatar class="profile-avatar">
            <img src="assets/images/conexioncompartir.png" alt="Profile Image"/>
          </ion-avatar>
          <ion-icon class="edit-icon" name="create-outline"></ion-icon>
        </div>
        <h2 class="profile-name">Nombre Apellido</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<form [formGroup]="myForm">
  <ion-list class="datos">
    <ion-item lines="none">
      <ion-input
      label="Nombres"
      labelPlacement="stacked"
      value=""
      > {{userData.name}}
    </ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-input
      label="Apellidos"
      labelPlacement="stacked"
      value="{{userData.lastname}}"
      >
    </ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-input
      label="Correo"
      labelPlacement="stacked"
      value="{{userData.email}}"
      >
    </ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-input
      label="Contraseña"
      labelPlacement="stacked"
      value="{{userData.password}}"
      >
    </ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-input
      label="telefono"
      labelPlacement="stacked"
      value="{{userData.phone}}"
      >
    </ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</form>

  <div class="cerrar">
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="lock-open-outline" slot="start"></ion-icon>
      <ion-label>Política Y Privacidad</ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="exit-outline" slot="start"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</div>
</ion-content>
