h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .content-box {
    margin-top: 100px;
    width: 300px;
    margin: 0 auto;
    height: 450px; /* Ajusta la altura según tus necesidades */
  }
  
  .form-wrapper {
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .custom-file {
    position: relative;
    text-align: center;
  
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
  
  .file-label {
    background-color: #6E85B7;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .file-text {
    color: #fff;
    margin-top: 5px;
  }
  
  .image-preview {
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      max-width:  150px;
      min-height: 150px;
      max-height: 150px;
      border-radius: 100%;
      display: block;
      margin-top: 40px;
    }
  }
  
    
  input[type="submit"] {
    background-color: #333232;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  
    &:hover {
      background-color: #333;
    }
  }
  
  .background-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    background-color: #CBE6FF;
    z-index: -1;
  }
  
  .profile-section {
    text-align: center;
  }