button{
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    width: 200px;
}

.config{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    
}