<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<div class="config">

  <button (click)="perfil()" class="perfil">Perfil</button>
  <button class="noti">Notificaciones</button>

  <button class="temas">Apariencia</button>
  <button (click)="manual()" class="manual">Manual de instruccionnes</button>
  <button class="about">Acerca de nosotros</button>

<ion-button expand="full" (click)="cerrarsesion()">Cerrar  sesion</ion-button>
</div>

<h1>Nuestras redes:</h1>
<div class="redes">
<img src="assets/images/web.png" alt="">
<img src="assets/images/email.png" alt="">
<img src="assets/images/facebook.png" alt="">
<img src="assets/images/twitter.png" alt="">

</div>