<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<div class="config">

  <button (click)="perfil()" class="perfil">Perfil</button>
  <button class="noti">Notificaciones</button>

  <button class="temas">Apariencia</button>
  <button (click)="manual()" class="manual">Manual de instruccionnes</button>

  <ion-button expand="full" (click)="cerrarsesion()">Cerrar sesion</ion-button>
</div>

<h1>Nuestras redes:</h1>
<div class="redes">
  <ion-row size="4">
    <ion-col>
    <a href="">
      <img src="assets/images/web.png" alt=""></a>
    </ion-col>
    <ion-col>
    <a href="">
      <img src="assets/images/email.png" alt=""></a>
    </ion-col>
    <ion-col>
    <a href="">
      <img src="assets/images/facebook.png" alt=""></a>
    </ion-col>
    <ion-col>
    <a href="">
      <img src="assets/images/twitter.png" alt=""></a>
    </ion-col>
  </ion-row>


</div>