ion-card{
background-color: transparent;
box-shadow: none;
}
.email{
    display: block;
}

.correo{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}
.contra{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}

.registro2{
    display: none;
}

.nombre{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}
.apellido{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}
.telefono{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}

img{
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

ion-button{
margin-top: 20px;
}

.show{
    display: block;
}

.hide{
    display: none;
}