<ion-segment [(ngModel)]="selectedTab">
  <ion-segment-button value="tab1">
    Iniciar sesion
  </ion-segment-button>
  <ion-segment-button value="tab2">
    Registrarse
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ng-container *ngIf="selectedTab === 'tab1'">
    <ion-card>
      <ion-card-content>
        <!-- Contenido de la pestaña 1 -->
        <img src="assets/images/5087579.png" alt="">
        
        <div class="correo">
          <ion-input type="email" fill="solid" label="Email" labelPlacement="floating"
            helperText="Introduce un correo valido" id="email" [(ngModel)]="login.email"></ion-input>
        </div>
        <div class="contra">
          <ion-input type="password" fill="solid" label="Contraseña" labelPlacement="floating"
            helperText="Introduce una contraseña valida" [(ngModel)]="login.pass"></ion-input>
        </div>
        <ion-button expand="full" (click)="loginUser(login.email, login.pass)" >Iniciar sesión</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="selectedTab === 'tab2'">
    <ion-card>
      <ion-card-content>
        <!-- Contenido de la pestaña 2 -->
        
        <img src="assets/images/5087579.png" alt="">
<div class="email">        
        <div class="correo">

          <ion-input type="email" fill="solid" label="Email" labelPlacement="floating"
            helperText="Introduce un correo válido" [(ngModel)]="register.email"></ion-input>
        </div>
        <div class="contra">

          <ion-input type="password" fill="solid" label="Contraseña" labelPlacement="floating"
            helperText="Introduce una contraseña válida" [(ngModel)]="register.pass"></ion-input>
        </div>
       
        <ion-button expand="full">Siguiente</ion-button>
      </div> 

      
      <div class="datos">
        <div class="nombre">

          <ion-input type="text" fill="solid" label="Email" labelPlacement="floating"
            helperText="Introduce un nombre valido"></ion-input>
        </div>
        <div class="apellido">

          <ion-input type="text" fill="solid" label="Apellido" labelPlacement="floating"
            helperText="Introduce una apellido valido"></ion-input>
        </div>
        <div class="telefono">

          <ion-input type="text" fill="solid" label="Telefono" labelPlacement="floating"
            helperText="Introduce un numero valido"></ion-input>
        </div>
        <ion-button expand="full" (click)="registerUser(register.email,register.pass,register.name)" >Registrarse</ion-button>
    </div>
      </ion-card-content>
    </ion-card>
  </ng-container>