<ion-segment [(ngModel)]="selectedTab">
  <ion-segment-button value="tab1"> Iniciar sesion </ion-segment-button>
  <ion-segment-button value="tab2"> Registrarse </ion-segment-button>
</ion-segment>

<ion-content>
  <ng-container *ngIf="selectedTab === 'tab1'">

        <!-- Contenido de la pestaña 1 -->
        <img src="assets/images/5087579.png" alt="" />

        <div class="correo">
          <ion-input
            type="email"
            fill="solid"
            label="Email"
            labelPlacement="floating"
            id="email"
            [(ngModel)]="login.email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$"
            required
          ></ion-input>
        </div>
        <div class="contra">
          <ion-input
            type=""
            fill="solid"
            label="Contraseña"
            labelPlacement="floating"
            [(ngModel)]="login.pass"
            minlength="8"
            required
          ></ion-input>
        </div>
        <ion-button
          id="open-loading"
          expand="full"
          (click)="loginUser(login.email, login.pass)"
          >Iniciar sesión</ion-button
        >
        <ion-loading
          trigger="open-loading"
          message="Cargando..."
          [duration]="2000"
          spinner="circles"
        ></ion-loading>

        <!-- <ion-card>

            <h2 class="login-title">Iniciar sesion</h2>
            <p class="login-subtitle">Inicia sesion con tu correo y contraseña</p>
        
            <ion-item>
              <ion-label position="stacked">Correo</ion-label>
              <ion-input placeholder="ejemplo@gmail"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input placeholder="********"></ion-input>
              <ion-button fill="clear" slot="end">
                <ion-icon name="eye"></ion-icon>
              </ion-button>
            </ion-item>
        
            <div class="forgot-password">
              <h6>¿Olvidaste tu contraseña?</h6>
            </div>
        
            <ion-button shape="round" fill="clear" class="login-button">Acceder</ion-button>
        
            <div class="signup-link">
              <p>¿Aun no tienes una cuenta? Registrate</p>
            </div>
   </ion-card>

 

  </ng-container>

  <ng-container *ngIf="selectedTab === 'tab2'">
    <ion-card> -->
      <ion-card-content>
        Contenido de la pestaña 2

        <img src="assets/images/5087579.png" alt="" />
        <div class="email" [ngClass]="{'show':show,'hide': !show}">
          <div class="correo">
            <ion-input
              type="email"
              fill="solid"
              label="Email"
              labelPlacement="floating"
              [(ngModel)]="register.email"
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$"
              required
            ></ion-input>
          </div>
          <div class="contra">
            <ion-input
              type="password"
              fill="solid"
              label="Contraseña"
              labelPlacement="floating"
              [(ngModel)]="register.pass"
              minlength="8"
              required
            ></ion-input>
          </div>

          <ion-button
            id="open-loading"
            expand="full"
            (click)="registerUser(register.email,register.pass)"
            >Siguiente</ion-button
          >
          <ion-loading
            trigger="open-loading"
            message="Cargando..."
            [duration]="2000"
            spinner="circles"
          ></ion-loading>
        </div>

        <div class="datos" [ngClass]="{'show':!show,'hide': show}">
          <div class="nombre">
            <ion-input
              type="text"
              fill="solid"
              label="Name"
              labelPlacement="floating"
              [(ngModel)]="userData.name"
            ></ion-input>
          </div>
          <div class="apellido">
            <ion-input
              type="text"
              fill="solid"
              label="Apellido"
              labelPlacement="floating"
              [(ngModel)]="userData.lastname"
            ></ion-input>
          </div>
          <div class="telefono">
            <ion-input
              type="text"
              fill="solid"
              label="Telefono"
              labelPlacement="floating"
              [(ngModel)]="userData.phone"
            ></ion-input>
          </div>
          <ion-button
            id="open-loading"
            expand="full"
            (click)="saveUserData(userData.name,userData.lastname,userData.phone,register.email)"
            >Registrarse</ion-button
          >
          <ion-loading
            trigger="open-loading"
            message="Cargando..."
            [duration]="2000"
            spinner="circles"
          ></ion-loading>
        </div>
      </ion-card-content>

      <!-- <h2 class="login-title">Registrarse</h2>
            <p class="login-subtitle">Registrate con los datos para tu cuenta</p>

            <ion-item>
              <ion-label position="stacked">Nombres</ion-label>
              <ion-input placeholder="Juan Perez"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Apellidos</ion-label>
              <ion-input placeholder="Gonzales Barreno"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="stacked">Correo</ion-label>
              <ion-input placeholder="ejemplo@gmail"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Numero</ion-label>
              <ion-input type="tel" placeholder="585-5663-78-74"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input placeholder="********"></ion-input>
              <ion-button fill="clear" slot="end">
                <ion-icon name="eye"></ion-icon>
              </ion-button>
            </ion-item>
        
            <div class="forgot-password">
              <p>Aqui puedes leer nuestros</p><h6>Terminos y Condiciones</h6>
            </div>
        
            <ion-button shape="round" fill="clear" class="login-button">Crear cuenta</ion-button>
        
            <div class="signup-link">
              <p>¿Ya tienes una cuenta? Accede</p>
            </div>

    </ion-card> 
    </ng-container
></ion-content> -->
