ion-card{
    background-color: #f5f5f5;
    border-radius: 28px;
    box-shadow: 2px 2px 0px #afafaf;
    text-align: center;
    border-color: #14577F;
    border-width: 3px;
    border-style: solid;
   
ion-card-title{
  margin-bottom: 10px;
  color: #14577F;
  font-size: 14;
}
}

svg{
  margin-top: 10px;
      color: #14577F;
    }