<ion-tabs>

  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <!-- Now home, before presc-->
    <ion-tab-button tab="tab1">
     <img src="assets/icon/home.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="assets/icon/pill.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img src="assets/icon/person.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <img src="assets/icon/quesstion.png" alt="">
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
