<script src="https://unpkg.com/ionicons@4.1.1/dist/ionicons.js"></script>
<ion-tabs>

  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <!-- Now home, before presc-->
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="assets/icon/pill.svg" style="font-size: 48px;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
    <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
