ion-item {
    --padding-start: 0;
  }

h1{
  margin-left: 20px;
}

ion-card{
  border-radius: 30px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

ion-card-header{
  border-radius: 30px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.general{
  ion-card-header{
    background-color: #252e3f;
  }
  
}

.tiempo{
  ion-card-header{
    background-color: #724747;
  }
  
}

.consumo{
  ion-card-header{
    background-color: #436138;
  }
}

.otros{
  ion-card-header{
    background-color: rgb(78, 46, 74);
  }
}

.todo{
 ion-input{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 6%;
 }
}

