<!-- <ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card>
    <div class="todo">
<h1>Registro de medicamento</h1>
<ion-title>Etiqueta del medicamento</ion-title>
<ion-input
    type="text"
    fill="solid"
    label="Etiqueta"
    labelPlacement="floating"
    helperText="Ejemplo: Medicina 1"
  ></ion-input>
</div>

  <div class="general">
<ion-card>
  <ion-card-header (click)="toggleCard()">
    <ion-card-title>Datos generales</ion-card-title>
    <ion-card-subtitle>Datos como nombre, dosis, caracteristicas.</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content *ngIf="!expanded">
    <ion-item>
      <h2>¿Cual es el nombre del medicamento?</h2>
    </ion-item>
    <ion-input
    type="text"
    fill="solid"
    label="Medicamento"
    labelPlacement="floating"
    helperText="Ejemplo: Paracetamol"
  ></ion-input>
  <ion-item>
    <h2>¿Cual es la docis que se va a tomar?</h2>
  </ion-item>
  <ion-input
  type="int"
  fill="solid"
  label="Dosis"
  labelPlacement="floating"
  helperText="Ejemplo: 1 pastilla"
></ion-input>

<ion-item>
  <h2>¿Cual es la presentacion del medicamento?</h2>
</ion-item>
<ion-input
type="text"
fill="solid"
label="Presentacion"
labelPlacement="floating"
helperText="Ejemplo: Caja"
></ion-input>

<ion-item>
  <h2>¿Cual es el precio del medicamento?</h2>
</ion-item>
<ion-input
type="int"
fill="solid"
label="Precio"
labelPlacement="floating"
helperText="Ejemplo: 10000"
></ion-input>


  </ion-card-content>
</ion-card>

</div>
<div class="tiempo">
<ion-card>
  <ion-card-header (click)="toggleCard2()">
    <ion-card-title>Tiempo</ion-card-title>
    <ion-card-subtitle>Datos como fecha de inicio, hora de inicio.</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content *ngIf="!expanded2">
  
    <ion-item>
      <h2>¿Cual es la fecha de inicio?</h2>
    </ion-item>
    <ion-input
    type="date"
    fill="solid"
    label="Fecha"
    labelPlacement="floating"
    helperText="Ejemplo: 01/01/2021"
    ></ion-input>

    <ion-item>
      <h2>¿Cual es el intevalo de consumo del medicamento?</h2>
    </ion-item>
    <ion-input
    type="text"
    fill="solid"
    label="Intervalo"
    labelPlacement="floating"
    helperText="Ejemplo: 8 horas"
  ></ion-input>

  <ion-item>
    <h2>¿Que dias se va a tomar el medicamento?</h2>
  </ion-item>
  <ion-input
  type="text"
  fill="solid"
  label="Dias"
  labelPlacement="floating"
  helperText="Ejemplo: Lunes, Miercoles, Viernes"
></ion-input>

<ion-item>
  <h2>¿Cual es la fecha de finalizacion?</h2>
</ion-item>
<ion-input
type="date"
fill="solid"
label="Fecha"
labelPlacement="floating"
helperText="Ejemplo: 01/01/2021"
></ion-input>

<ion-item>
  <h2>¿Cual es la hora de inicio?</h2>
</ion-item>
<ion-input
type="time"
fill="solid"
label="Hora"
labelPlacement="floating"
helperText="Ejemplo: 08:00"
></ion-input>

<ion-item>
  <h2>¿Cual es la hora de finalizacion?</h2>
</ion-item>
<ion-input
type="time"
fill="solid"
label="Hora"
labelPlacement="floating"
helperText="Ejemplo: 08:00"
></ion-input>


  </ion-card-content>
</ion-card>

</div>
<div class="consumo">
<ion-card>
  <ion-card-header (click)="toggleCard3()">
    <ion-card-title>Datos de consumo</ion-card-title>
    <ion-card-subtitle>Datos como cantidad, unidad de medida, presentacion, precio.</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content *ngIf="!expanded3">
    <ion-item>
      <h2>¿Cual es la cantidad de medicamento?</h2>
    </ion-item>
    <ion-input
    type="int"
    fill="solid"
    label="Cantidad"
    labelPlacement="floating"
    helperText="Ejemplo: 10"
    ></ion-input>

    <ion-item>
      <h2>¿Cual es la unidad de medida?</h2>
    </ion-item>
    <ion-input
    type="text"
    fill="solid"
    label="Unidad"
    labelPlacement="floating"
    helperText="Ejemplo: Pastillas"
    ></ion-input>

    <ion-item>
      <h2>¿Cual es el peso del medicamento?</h2>
    </ion-item>
    <ion-input
    type="text"
    fill="solid"
    label="Gramos"
    labelPlacement="floating"
    helperText="Ejemplo: 10 gramos"
    ></ion-input>

  </ion-card-content>
</ion-card>
</div>

<div class="otros">
  <ion-card>
    <ion-card-header (click)="toggleCard4()">
      <ion-card-title>Otros datos</ion-card-title>
      <ion-card-subtitle>Datos como cantidad, unidad de medida, presentacion, precio.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content *ngIf="!expanded4">
      <ion-item>
        <h2>¿Esta fuerte?</h2>
      </ion-item>
      <ion-input
      type="int"
      fill="solid"
      label="Cuanto"
      labelPlacement="floating"
      helperText="Ejemplo: si"
      ></ion-input>
  
  
    </ion-card-content>
  </ion-card>
  </div>


</ion-card>
</ion-content>

 -->
<ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-buttons>
    <h2>Recetas</h2>
 
</ion-toolbar>

 <!-- <ion-content>

  <ion-segment value="3">
    <ion-segment-button value="Completas">
      <ion-label>Completadas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Nuevas">
      <ion-label>Nuevas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Canceladas">
      <ion-label>Canceladas</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content> -->




<ion-content>

  <ion-segment mode="ios" value="complete">
    <ion-segment-button value="complete">
      <ion-label>Completas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="upcoming">
      <ion-label>Nuevas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cancelled">
      <ion-label>Canceladas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-card>
      <ion-item>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Ketorolaco</h2>
          <p>Uso: Anti-inflamatorio</p>
        </ion-label>
      </ion-item>

      <ion-card-content>
        <p><strong>Comentarios:</strong> </p><br>
        <p>ABUE TOMA TUS PASTILLAS O TE VAS CON MAMA COCO!!!!!</p>
        <div style="display: flex; justify-content: space-between; margin-top: 10px;">
          <ion-chip>
            <ion-label>Mg: 30</ion-label>
          </ion-chip>
          <ion-chip>
            <ion-label>2 pastillas</ion-label>
          </ion-chip>
          <ion-chip>
            <ion-label>Consumo: Cada 8 horas</ion-label>
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
