<ion-header [translucent]="true">
    <ion-toolbar>
      <div class="textimage">
      <img src="assets/images/LogoSmartMeds.png" alt="" style="
      
      width: 40px; /* Tamaño fijo de la imagen */
  height: auto; /* Para mantener la proporción de la imagen */
 
   ">
   
   </div>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-card *ngFor="let data of data">
    <!-- <img alt="Medicine" src="assets/images/7500093753546_A.webp" /> -->
    <ion-card-header>
      <ion-card-title> {{data.name}} cada {{data.interval}} horas <img class="borrar" (click)="delete(data.id)"src="assets/images/eliminar.png"  alt=""></ion-card-title>
      <ion-card-subtitle><img src="assets/images/pill.webp" alt="" style="width: 25px;height: 25px;"> {{data.comment}} </ion-card-subtitle>
    </ion-card-header>
    
  </ion-card>

 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="agregar()"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>