<ion-header [translucent]="true">
    <ion-toolbar>
      <div class="textimage">
      <img src="assets/images/LogoSmartMeds.png" alt="" style="
      
      width: 40px; /* Tamaño fijo de la imagen */
  height: auto; /* Para mantener la proporción de la imagen */
 
   ">
   </div>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/7500093753546_A.webp" />
    <ion-card-header>
      <ion-card-title>Prescripcion Abue Rosa</ion-card-title>
      <ion-card-subtitle>Ketorolaco cada 8 horas</ion-card-subtitle><img src="assets/images/pill.webp" alt="" style="width: 100px;height: auto;">
    </ion-card-header>
    
  </ion-card>

 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>