img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 150px;
}

ion-card{
  padding: 2px;
  margin: 20px;
  border-radius: 30px;
}

.textimage{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}