<!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="textimage">
      <img src="assets/images/LogoSmartMeds.png" alt="" style="
      
      width: 40px; /* Tamaño fijo de la imagen */
  height: auto; /* Para mantener la proporción de la imagen */
 
   ">
   
   </div>
    </ion-toolbar>
  </ion-header> -->

<!-- <ion-content>
  <ion-card *ngFor="let data of data">
    
    <ion-card-header>
      <ion-card-title style="display: flex; 
      justify-content: space-between;
      flex-direction: row;
      gap: 8px;"> {{data.name}} cada {{data.interval}} horas <img (click)="delete(data.id)"src="assets/images/eliminar.png" style="width: 20px; 
        height: 20px; 
        " alt=""></ion-card-title>
      <ion-card-subtitle><img src="assets/images/pill.webp" alt="" style="width: 25px;height: 25px;"> {{data.comment}} </ion-card-subtitle>
    </ion-card-header>
    
  </ion-card>

 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="agregar()"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="header-title">
      <img src="assets/images/LogoSmartMeds.png" alt="Logo" class="header-image" 
      style="height: 40px;"/>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="menu-section">
    <h2>Menú</h2>
    <div class="menu-grid">
      <ion-button class="menu-button" expand="block">
        <ion-icon name="medkit-outline"></ion-icon>
        <ion-label>Recetas</ion-label>
      </ion-button>
      <ion-button class="menu-button" expand="block">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Smart-Kit</ion-label>
      </ion-button>
      <ion-button class="menu-button" expand="block">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-button>
      <ion-button class="menu-button" expand="block">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </ion-button>
    </div>
  </div>

  <div class="actions-section">
    <h2>Acciones</h2>
    <div class="menu-grid">
      <ion-button class="menu-button" expand="block">
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label>Alerta</ion-label>
      </ion-button>
      <ion-button class="menu-button" expand="block">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>