<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tu botiquín
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Si la puerta está abierta o cerrada -->
  <p>{{state}}</p> 

  <!-- Repisa "Alta" -->
  <p>0 g.</p>
  <ion-button (click)="readMedicinesFromShelf('Alta')">Repisa Alta</ion-button>
  <!-- Supongamos que esto es un desplegable oculto -->
  <ul>
    <li *ngFor="let medicine of dataRepisaAlta">
      <div> {{medicine.name}}: {{medicine.Detalles.peso}} g.</div>
      <div> {{medicine.presen}}</div>
      <div> {{medicine.Detalles.comentario}}</div>
    </li>
  </ul>

  <!-- Repisa "Media" -->
  <p>{{weight}} g.</p>
  <ion-button (click)="readMedicinesFromShelf('Media')">Repisa Media</ion-button>
  <ul>
    <li *ngFor="let medicine of dataRepisaMedia">
      <div> {{medicine.name}}: {{medicine.Detalles.peso}} g.</div>
      <div> {{medicine.presen}}</div>
      <div> {{medicine.Detalles.comentario}}</div>
    </li>
  </ul>

  
  <!-- Repisa "Baja" -->
  <p>0 g.</p>
  <ion-button (click)="readMedicinesFromShelf('Baja')">Repisa Baja</ion-button>
  <ul>
    <li *ngFor="let medicine of dataRepisaBaja">
      <div> {{medicine.name}}: {{medicine.Detalles.peso}} g.</div>
      <div> {{medicine.presen}}</div>
      <div> {{medicine.Detalles.comentario}}</div>
    </li>
  </ul>
  
</ion-content>
