ion-item {
    --padding-start: 0;
  }

h1{
  margin-left: 20px;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-card{
  border-radius: 30px;
  border-color: rgb(172, 172, 172);
  border-width: 2px;
  border-style: solid;
   box-shadow: none;
}

ion-card-header{
  border-radius: 30px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
 
}

.alta{
  ion-card-header{
    background-color: #88a4d8;
  }
  
}

.media{
  ion-card-header{
    background-color: #88a4d8;
  }
  
}

.baja{
  ion-card-header{
    background-color: #88a4d8;
  }
}


.todo{
 ion-input{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 6%;
 }
}

.textimage{
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}