<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nueva receta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div class="todo">
      <h1>Registro de medicamento</h1>
    </div>

<form [formGroup]="myFormGeneral">
    <div class="general">
      <ion-card>
        <ion-card-header (click)="toggleCard()">
          <ion-card-title>Datos generales</ion-card-title>
          <ion-card-subtitle>Datos como nombre, dosis, caracteristicas.</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content *ngIf="!expanded">

          <div class="nombre">
            <ion-item>
              <h2>¿Cual es el nombre del medicamento?</h2>
            </ion-item>
            <ion-input id="name" formControlName="name" type="text" fill="solid" Placeholder="Medicamento" helperText="Ejemplo: Paracetamol"></ion-input>
          </div>

          <div class="dosis">
            <ion-item>
              <h2>¿Cual es la dosis que se va a tomar?</h2>
            </ion-item>
            <ion-input  id="dosis" formControlName="dosis" type="number" fill="solid" Placeholder="Dosis" helperText="Ejemplo: 1 pastilla"></ion-input>
            <ion-item>
              <label>Unidad de medida</label>
              <ion-select id="medida" formControlName="medida" placeholder="Seleccione">
                <ion-select-option>Miligramo(s)</ion-select-option>
                <ion-select-option>Gramo(s)</ion-select-option>
                <ion-select-option>Mililitro(s)</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div class="presentacion">
            <!-- <ion-item>
              <h2>¿Cual es la presentacion del medicamento?</h2>
            </ion-item>
            <ion-input id="presen" formControlName="presen" type="text" fill="solid" placeholder="Presentacion" helperText="Ejemplo: Caja"></ion-input> -->
            <ion-item>
              <label>Presentacion del medicamento</label>
              <ion-select id="presenForm" formControlName="presenForm" placeholder="Seleccione">
                <ion-select-option>Pastilla</ion-select-option>
                <ion-select-option>Capsula</ion-select-option>
                <ion-select-option>Ampolleta</ion-select-option>
                <ion-select-option>Solvente</ion-select-option>
                <ion-select-option>Inyeccion</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>

    </div>
    
  </form>
  
  <form [formGroup]="myFormTiempo">
    <div class="tiempo">
      <ion-card>
        <ion-card-header (click)="toggleCard2()">
          <ion-card-title>Tiempo</ion-card-title>
          <ion-card-subtitle>Datos como fecha de inicio, hora de inicio.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="!expanded2">

          <ion-item>
            <h2>¿Cada cuantas horas se va a tomar el meedicamento?</h2>
          </ion-item>
          <ion-select id="selectedHour" formControlName="selectedHour" >
            <ion-select-option *ngFor="let hour of hours" [value]="hour">{{ hour + 1 }}</ion-select-option>
          </ion-select>
          

          <ion-item>
            <h2>¿Cual es la fecha de inicio?</h2>
          </ion-item>
          <ion-input id="inicio" formControlName="inicio" type="date" fill="solid" placeholder="Fecha" helperText="Ejemplo: 01/01/2021"></ion-input>

          <ion-item>
            <h2>¿Cual es la fecha de finalizacion?</h2>
          </ion-item>
          <ion-input id="fin" formControlName="fin" type="date" fill="solid" placeholder="Fecha" helperText="Ejemplo: 01/01/2021"></ion-input>

        </ion-card-content>
      </ion-card>
    </div>
  </form>
    
  <form [formGroup]="myFormOtros"> 
    <div class="consumo">
      <ion-card>
        <ion-card-header (click)="toggleCard3()">
          <ion-card-title>Datos de consumo</ion-card-title>
          <ion-card-subtitle>Datos como cantidad, unidad de medida, presentacion, precio.</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content *ngIf="!expanded3">
          <ion-item>
            <h2>¿Cual es el peso neto del envase?</h2>
          </ion-item>
          <ion-input id="peso" formControlName="peso" type="number" fill="solid" placeholder="Gramos" helperText="Ejemplo: 10 gramos"></ion-input>
          
          <ion-item>
            <h2>¿En qué repisa del botiquín estará este medicamento?</h2>
          </ion-item>
          <ion-select id="repisaForm" formControlName="repisaForm" placeholder="Seleccione">
            <ion-select-option>Alta</ion-select-option>
            <ion-select-option>Media</ion-select-option>
            <ion-select-option>Baja</ion-select-option>
          </ion-select>

          <ion-item>
            <h2>Contra indicaciones del medicamento</h2>
          </ion-item>
          <ion-input id="contra" formControlName="contra" type="text" fill="solid" helperText="Ejemplo: No tomar a x hora"></ion-input>

          <ion-item>
            <h2>Comentarios del tratamiento</h2>
          </ion-item>
          <ion-input id="comentario" formControlName="comentario" type="text" fill="solid" helperText="Ejemplo: Tomar despues de comer"></ion-input>

        </ion-card-content>
      </ion-card>
    </div>

    <ion-button style="display: block; margin: 0 auto;" [disabled]="!isFormValidGeneral()" (click)="submitForm()" (click)="redirectToHomePage()">Agregar</ion-button>
  </form>

  </ion-card>
</ion-content>